@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

@layer components {
  .btn-primary {
    @apply flex gabarito uppercase mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-gray-800 hover:bg-gray-700 rounded py-2 w-full transition duration-300 ease-in;
  }
  .input-primary {
    @apply text-sm py-2.5 placeholder-gray-500 pl-10 pr-4 rounded border border-gray-400 w-full focus:outline-none focus:border-gray-600;
  }
  .gabarito {
    @apply font-["Gabarito"];
  }
  .title-lg {
    @apply mb-1 font-medium gabarito text-center text-3xl text-gray-800;
  }
  .nav-icon {
    @apply relative px-3 py-3 flex items-center space-x-4 justify-start text-gray-700 rounded-lg;
  }
  .tag-primary {
    @apply flex flex-row border-[1.5px] text-primary-600 border-primary-600 bg-primary-50 py-1 px-1.5 rounded-[8px];
  }
  .tag-secondary {
    @apply flex min-w-[92px] justify-center flex-row border-[1px] text-primary-600 border-primary-600 bg-primary-50 py-1 px-3 rounded-full font-semibold;
  }
  .tag-tertiary {
    @apply flex flex-row min-w-[92px] border-[1.5px] justify-center text-green-600 border-green-600 bg-green-50 py-1 px-3 rounded-full font-semibold;
  }
  .btn-secondary {
    @apply flex flex-row border-[1.5px] text-gray-600 border-gray-600 bg-gray-50 py-1 px-3 rounded-full font-semibold;
  }
  .link {
    @apply text-xs ml-2 text-blue-500 font-semibold;
  }
  .btn-tertiary {
    @apply flex rounded-md cursor-pointer bg-gray-100 py-2 text-gray-500 px-2 transition-all duration-150 ease-in-out hover:bg-gray-200;
  }
  .input-errors {
    @apply text-red-700 p-0 m-0;
  }
  .label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
  }
  .input-secondary {
    @apply bg-gray-100 p-0.5 placeholder:text-gray-500 outline-none ml-2 w-full;
  }
  .not-followed {
    @apply flex rounded-md cursor-pointer bg-gray-100 p-1 text-gray-500 transition-all duration-150 ease-in-out hover:bg-gray-200;
  }
  .followed {
    @apply flex bg-green-100 text-green-700 rounded-md cursor-pointer py-2 px-2 transition-all duration-150 ease-in-out hover:bg-gray-200;
  }
  .input-tertiary {
    @apply text-sm py-2.5 placeholder-gray-500 pl-2 pr-4 rounded border border-gray-400 w-full focus:outline-none focus:border-gray-600;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: black;
  box-sizing: border-box;
}
/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
  border-radius: 8px;
  max-height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3d56ad;
  border-radius: 14px;
  max-height: 10px;
}
*::-webkit-scrollbar-thumb {
  min-height: 10px;
}
.theme-orange {
  --color-primary-50: theme("colors.orange.50");
  --color-primary-100: theme("colors.orange.100");
  --color-primary-200: theme("colors.orange.200");
  --color-primary-300: theme("colors.orange.300");
  --color-primary-400: theme("colors.orange.400");
  --color-primary-500: theme("colors.orange.500");
  --color-primary-600: theme("colors.orange.600");
  --color-primary-700: theme("colors.orange.700");
  --color-primary-800: theme("colors.orange.800");
  --color-primary-900: theme("colors.orange.900");
}
.theme-yellow {
  --color-primary-50: theme("colors.yellow.50");
  --color-primary-100: theme("colors.yellow.100");
  --color-primary-200: theme("colors.yellow.200");
  --color-primary-300: theme("colors.yellow.300");
  --color-primary-400: theme("colors.yellow.400");
  --color-primary-500: theme("colors.yellow.500");
  --color-primary-600: theme("colors.yellow.600");
  --color-primary-700: theme("colors.yellow.700");
  --color-primary-800: theme("colors.yellow.800");
  --color-primary-900: theme("colors.yellow.900");
}
.theme-red {
  --color-primary-50: theme("colors.red.50");
  --color-primary-100: theme("colors.red.100");
  --color-primary-200: theme("colors.red.200");
  --color-primary-300: theme("colors.red.300");
  --color-primary-400: theme("colors.red.400");
  --color-primary-500: theme("colors.red.500");
  --color-primary-600: theme("colors.red.600");
  --color-primary-700: theme("colors.red.700");
  --color-primary-800: theme("colors.red.800");
  --color-primary-900: theme("colors.red.900");
}
.theme-rose {
  --color-primary-50: theme("colors.rose.50");
  --color-primary-100: theme("colors.rose.100");
  --color-primary-200: theme("colors.rose.200");
  --color-primary-300: theme("colors.rose.300");
  --color-primary-400: theme("colors.rose.400");
  --color-primary-500: theme("colors.rose.500");
  --color-primary-600: theme("colors.rose.600");
  --color-primary-700: theme("colors.rose.700");
  --color-primary-800: theme("colors.rose.800");
  --color-primary-900: theme("colors.rose.900");
}
.theme-green {
  --color-primary-50: theme("colors.lime.100");
  --color-primary-100: theme("colors.lime.200");
  --color-primary-200: theme("colors.lime.300");
  --color-primary-300: theme("colors.lime.400");
  --color-primary-400: theme("colors.lime.500");
  --color-primary-500: theme("colors.lime.600");
  --color-primary-600: theme("colors.lime.700");
  --color-primary-700: theme("colors.lime.800");
  --color-primary-800: theme("colors.lime.900");
  --color-primary-900: theme("colors.lime.950");
}

.theme-blue {
  --color-primary-50: theme("colors.blue.50");
  --color-primary-100: theme("colors.blue.100");
  --color-primary-200: theme("colors.blue.200");
  --color-primary-300: theme("colors.blue.300");
  --color-primary-400: theme("colors.blue.400");
  --color-primary-500: theme("colors.blue.500");
  --color-primary-600: theme("colors.blue.600");
  --color-primary-700: theme("colors.blue.700");
  --color-primary-800: theme("colors.blue.800");
  --color-primary-900: theme("colors.blue.900");
}

.theme-violet {
  --color-primary-50: theme("colors.violet.50");
  --color-primary-100: theme("colors.violet.100");
  --color-primary-200: theme("colors.violet.200");
  --color-primary-300: theme("colors.violet.300");
  --color-primary-400: theme("colors.violet.400");
  --color-primary-500: theme("colors.violet.500");
  --color-primary-600: theme("colors.violet.600");
  --color-primary-700: theme("colors.violet.700");
  --color-primary-800: theme("colors.violet.800");
  --color-primary-900: theme("colors.violet.900");
}

.theme-pink {
  --color-primary-50: theme("colors.pink.50");
  --color-primary-100: theme("colors.pink.100");
  --color-primary-200: theme("colors.pink.200");
  --color-primary-300: theme("colors.pink.300");
  --color-primary-400: theme("colors.pink.400");
  --color-primary-500: theme("colors.pink.500");
  --color-primary-600: theme("colors.pink.600");
  --color-primary-700: theme("colors.pink.700");
  --color-primary-800: theme("colors.pink.800");
  --color-primary-900: theme("colors.pink.900");
}
